# To install all thenecessary packages run:
#
#    pip install requirements.txt
#
schema==0.7.1
python-csv==0.0.13
subprocess==0.0.8
pandas==1.2.3
PyYAML==5.4.1
collection==0.1.6
pickle5==0.0.11
contextlib2==0.6.0
tqdm==4.59.0
